@model IEnumerable<Ogrenci>

<h2>Ogrenci Listesi</h2>

<a href="/Ogrenci/Create" class="btn btn-primary">Ogrenci Ekle</a><hr>

<table class="table table-bordered teble-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.OgrenciId)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciSoyAd)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ogrenci ogrenci in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>ogrenci.OgrenciId)</td>
                <td>@Html.DisplayFor(modelItem=>ogrenci.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem=>ogrenci.OgrenciSoyAd)</td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@ogrenci.OgrenciId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@ogrenci.OgrenciId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>